<template>
  <div id="app">
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="#" class="login" v-on:click="makeActive('login')">Login</a></li>
          <li><a href="#" class="signup" v-on:click="makeActive('signup')">Signup</a></li>
          <li><a href="#" class="live" v-on:click="makeActive('live')">Home</a></li>
        </ul>
      </div>    
    </nav>
    
    <div class='auth_form' v-if="active === 'login'">
      <h2>Log In</h2>
      <p>Log in to your account to get some great news.</p>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Enter your username"
          v-model="credentials.username"
        >
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Enter your password"
          v-model="credentials.password"
        >
      </div>
      <button class="btn btn-primary" @click="submit()">Access</button>
      <p>{{err}}</p>
    </div>
    
    <div class='auth_form' v-else-if="active === 'signup'">
      <h2>Sign Up</h2>
      <p>Sign up to get some great news.</p>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Enter your username"
          v-model="credentials.username"
        >
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Enter your password"
          v-model="credentials.password"
        >
      </div>
      <button class="btn btn-primary" @click="submit()">Access</button>
    </div>
    
    <div v-else-if="active === 'live'">
      <ul id="logonav">
        <li v-for="item in sources" >
          <img class="logos" v-on:click="newlogo(item.id)"v-bind:src="item.logo_loc" v-bind:alt="item.url_name">
        </li>
      </ul>
    </div>
    
    <div id="main">
      {{stories}}
    </div>    
  </div>
</template>

<script>
  export default {
    name: 'app',
    mounted() {
      console.log('App mounted.')
    },
    
    data() {
      return {
        active : 'login',
        credentials: {
          username: 'test@test.com',
          password: '123456'
        },
        error: 'Username or password does not exist',
        err: '',
        token: '',
        stories: [],
        sources: '',
        active_logo: 0,
      }
    },
    
    methods: {
      makeActive(item){
        this.active = item;
      },
      
      submit() {
          var credentials = {
            username: this.credentials.username,
            password: this.credentials.password
          }
          
          if (this.credentials.username === "test@test.com" && this.credentials.password === "123456") {            
            axios.post('http://localhost:8000/oauth/token', {
              'grant_type': 'password',
              'client_id': '2',
              'client_secret': 'TjiOFWXCJWHTUNtoz1DpSR4AOw0ilscJSjWgbJeT',
              'username': this.credentials.username,
              'password': this.credentials.password,
              'scope': ''
            }).then((response) =>{
              this.token = response.data.token_type + " " + response.data.access_token
              this.makeActive('live')
              this.setHome()
            })
          }
          else 
            this.err = this.error
      },
      
      setHome() {
        var self = this
        axios.get('http://localhost:8000/api/sources', {
          headers: {'Authorization':self.token}
        }).then((response) => {
          self.sources = response.data
          console.log(self.sources)
        })
      },
      
      newlogo(l) {
        this.active_logo = l
        this.updateMain(l)
      },
      
      updateMain(n) {
        var self = this
        var u = 'http://localhost:8000/api/articles/' + n
        axios.get(u, {
          headers: {'Authorization':self.token}
        }).then((response) => {
          self.stories = response.data
        })
      }
      
              
    },
    
             
  }
</script>

<style>
  #logonav {
    width: 15%;
    text-align: left;
    float: left;
    background-color: black;
    list-style-type: none;
    height: 500px;
    overflow-y: scroll;
  }
  
  #main {
    background-color: red;
    float: right;
    width: 80%
  }

  .logos {
    width: 45%;
    height: relative;
    float: left;
    color: white;
    font-size: 12px;
    margin: 2%;
  }
  
  .container {
    width: 100%;
    background-color: blue;
  }

  .navbar a {
    color: white;
  }

  .auth_form {
    margin-left: 5%;
  }

</style>