#sites {
	width: 10%;
	height: 500px;
	background-color: gray;
	float: left;
	text-align: center;
	
}

#sites img {
	width: 90%;
	height: 19%;
	margin: 1px;
}

#articles {
	width: 90%;
	height: 500px;
	background-color: gray;
	float: right;
	text-align: left;
}

#story {
	width: 100%;
	height: 150px;
	margin: 4px;
}

#story img {
	width: 15%;
	height: 100px;
	float: left;
}

#author {
	font-size: 12px;
	font-style: italic;
}
